:root {
    --square_px: 37.5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-container {
    margin-left: 108px;
    text-align: center;
}

#main-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

#pad-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    box-shadow: 5px 5px 0px black;
}

.canvas-square {
    width: var(--square_px);
    height: var(--square_px);
    flex-shrink: 0;
}

/* Greyscale class only used to "tag" squares for greyscale - useless CSS property */
.greyscale_base {
    visibility: visible;
}