@font-face {
    font-family: 'VCR';
    src: url(./assets/VCR_OSD_MONO_1.001.ttf);
}

:root {
    --square_px: 37.5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'VCR', sans-serif;
    background-color: rgba(126, 196, 178, 0.5);
}

label {
    padding: 2px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 1.5px ridge rgb(85, 85, 85);
}

button {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'VCR', sans-serif;
}

#title-container {
    text-align: center;
    margin-bottom: 10px;
}

#title-container > h1 {
    margin-top: 10px;
}

#main-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#buttons-container-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

#buttons-container-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 234px;
}

#pad-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 2px solid black;
    box-shadow: 5px 5px 0px darkgray;
    background-color: white;
}

#footer {
    margin-top: 40px;
}

#github_link {
    margin-top: 20px;
}

#github_link > a > img {
    height: 30px;
}

#picker {
    align-self: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1.5px ridge rgb(85, 85, 85);
}

#picker:hover {
    cursor: pointer;
}

.canvas-square {
    width: var(--square_px);
    height: var(--square_px);
    flex-shrink: 0;
    background-color: white;
}

.hoverable:hover {
    background-color: rgb(123, 123, 123);
    cursor: pointer;
}

/* Greyscale class only used to "tag" squares for greyscale - useless CSS property */
.greyscale_base {
    visibility: visible;
}